<header>
  <h1>Bookings Page</h1>
</header>
<section>
  <div>
    <div class="table-controls"><a
        href="/bookings/new"
        class="btn--link btn--small"
      >Add new</a></div>
    <table border="1">
      <thead>
        <th>ID</th>
        <th>Property</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Created At</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        {{#each bookings}}
          <tr>
            <td><a href="/bookings/{{this.id}}">{{this.id}}</a></td>
            <td><a href="/properties/{{this.property_id}}">{{this.building_name}}</a></td>
            <td>{{this.start_date}}</td>
            <td>{{this.end_date}}</td>
            <td>{{this.created_at}}</td>
            <td><a href="/bookings/edit/{{this.id}}">Edit</a></td>
            <td><a href="#">Delete</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>