<header>
  <h1>Customer:</h1>
</header>
<section>
  <table border="1">
    <thead>
      <th colspan="2">Customer</th>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{customer.id}}</td>
      </tr>
      <tr>
        <td>First Name</td>
        <td>{{customer.first_name}}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{customer.last_name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{customer.email}}</td>
      </tr>
      <tr>
        <td>Created At</td>
        <td>{{formatCreatedAtDate customer.created_at}}</td>
      </tr>
      <tr>
        <td>Bookings</td>
        <td><a href="#">View</a></td>
      </tr>
      <tr>
        <td>Edit</td>
        <td><a href="/customers/edit/{{customer.id}}">Edit</a></td>
      </tr>
      <tr>
        <td>Delete</td>
        <td><a href="/customers/delete/{{customer.id}}">Delete</a></td>
      </tr>
    </tbody>
  </table>
</section>