<header>
  <h1>Invoices Page</h1>
</header>
<section>
  <div>
    <table border="1">
      <thead>
        <th>ID</th>
        <th>Booking</th>
        <th>Total Due</th>
        <th>Amount Paid</th>
        <th>Created At</th>
        <th></th>
      </thead>
      <tbody>
        {{#each invoices}}
          <tr>
            <td>{{this.id}}</td>
            <td><a href="/bookings/{{this.id}}">View</a></td>
            <td>{{this.total_due}}</td>
            <td>{{this.amount_paid}}</td>
            <td>{{this.created_at}}</td>
            <td><a href="/invoices/edit/{{this.id}}">Edit</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>