<header>
  <h1>Property:</h1>
</header>
<section>
  <table border="1">
    <thead>
      <th colspan="2">Property</th>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{property.id}}</td>
      </tr>
      <tr>
        <td>Building Name</td>
        <td>{{property.building_name}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{property.address}}</td>
      </tr>
      <tr>
        <td>Rate</td>
        <td>{{property.rate}}</td>
      </tr>
      <tr>
        <td>Max Occupancy</td>
        <td>{{property.max_occupancy}}</td>
      </tr>
      <tr>
        <td>Created At</td>
        <td>{{formatCreatedAtDate property.created_at}}</td>
      </tr>
      <tr>
        <td>Bookings</td>
        <td><a href="#">View</a></td>
      </tr>
      <tr>
        <td>Edit</td>
        <td><a href="/properties/edit/{{property.id}}">Edit</a></td>
      </tr>
      <tr>
        <td>Delete</td>
        <td><a href="/properties/delete/{{property.id}}">Delete</a></td>
      </tr>
    </tbody>
  </table>
</section>