<header>
  <h1>Properties Page</h1>
</header>
<section>
  <div>
    <div class="table-controls"><a
        href="/properties/new"
        class="btn--link btn--small"
      >Add new</a></div>
    <table border="1">
      <thead>
        <th>ID</th>
        <th>Building Name</th>
        <th>Address</th>
        <th>Rate</th>
        <th>Max Occupancy</th>
        <th>Created At</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        {{#each properties}}
            <tr>
              <td>{{this.id}}</td>
              <td><a href="/properties/{{this.id}}">{{this.building_name}}</a></td>
              <td>{{this.address}}</td>
              <td>{{this.rate}}</td>
              <td>{{this.max_occupancy}}</td>
              <td>{{this.created_at}}</td>
              <td><a href="/properties/edit/{{this.id}}">Edit</a></td>
              <td><a href="#">Delete</a></td>
            </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>